.wfmReportMock
    padding: fn-rem(10rem)
    margin-bottom: 0
    .horizontalSeparator
        border-top: fn-rem(1rem) solid #b5bcc7
        display: block
        height: fn-rem(1rem)
        margin: fn-rem(8rem) fn-rem(2rem) fn-rem(5rem) fn-rem(2rem)
        vertical-align: middle
    .cutoffHoursNumberSpinner
        width: fn-rem(50rem)
    .header
        font-weight: bold
        width: fn-rem(150rem)
    .firstColumn
        float: left
        width: 100%
        margin-bottom: fn-rem(5rem)
    .totalsDiv
        float: left
        width: 100%
        margin-bottom: fn-rem(5rem)
    .filtersDiv
        .header
            width: 50%
        .tableCell
            .label
                width: fn-rem(100rem)
        .payExportFilterDiv
            margin-top: fn-rem(10rem)
    .table
        display: table
        width: 100%
    .tableRow
        display: table-row
    .tableCell
        display: table-cell
    .reportLvlDiv
        .DayforceRadioButton
            display: block
    .optionsDiv
        .DayforceCheckBox
            width: fn-rem(200rem)
            margin: fn-rem(2rem)
    .ReportDateTool
        .dijitDropDownButton
            width: fn-rem(168rem)
    .entityPickerField
        &.pickerWidget
            margin-left: 31%
    .EntitySelector
        margin-right: fn-rem(3rem)
        .selectedPeriodDiv
            margin-left: fn-rem(15rem)
    .MultiEntitySelector
        max-width: 85%
    .dateDiv
        .tableCell
            clear: left
            vertical-align: top
            display: inline-block
        .DateRangeSelector
            display: inline-block
        .DayforceRadioButton
            width: fn-rem(150rem)
    .premiumTime
        margin: fn-rem(5rem) fn-rem(0rem)
    .balancingReportMappings
        display: inline-block
        width: fn-rem(500rem)
        .balancingReportMappingsGrid
            width: 100%
    .mappingsHeader
        margin-bottom: fn-rem(5rem)
        font-weight: bold

    .filterItems > div > label
    .cutoffHoursDiv label
        display: inline-block
        min-width: 15%

    .OTCategoryDiv
    .DTCategoryDiv
        margin: fn-rem(5rem) fn-rem(0rem)

    .ReportDateTool
        .DayforceRadioButton
            width: fn-rem(110rem)
        .dateColumn
            width: 50%
        .tableRow
            margin: fn-rem(2rem)
        .payGroupRow
            margin: fn-rem(3rem)
        .payGrpSelector
            margin-left: fn-rem(-1rem)
            margin-top: fn-rem(2rem)

.ReportParamPanel
    &.fullSize
        overflow: auto

.ReportsDialog
    .PreviewSection
        .ReportPanelContainer
            overflow: auto